@import '../variables';

.appContainer {
  overflow: hidden;
  min-height: 100vh;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.22) 7.62%,
      rgba(235, 125, 20, 0.1) 25.5%,
      rgba(255, 255, 255, 0.1) 70.92%
    ),
    #fafafa;

  &_grey {
    background: #fafafa;
  }

  &_casino {
    background: #ffffff;
    background-image: url('./assets/bg-casino-desktop.png');
    background-repeat: no-repeat;
    background-size: 100% 610px;

    @include vp-1919 {
      background-size: 100% 437px;
    }

    @media (max-width: 850px) {
      background-image: url('./assets/bg-casino-tablet.png');
      background-size: 100% 422px;
    }

    @include vp-500 {
      background-image: url('./assets/bg-casino-mobile.png');
      background-size: 100% 442px;
    }
  }
}
