@import '../../../../variables.scss';

.providerSlider {
  width: 100%;
  color: #000000;
  margin-top: -25px;

  @include vp-1023 {
    display: none;
  }

  :global(.swiper-slide) {
    width: fit-content;
  }
}
