@import '../../variables.scss';

.header {
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 1440px;
  padding: 20px 70px;
  overflow: hidden;

  @include vp-1439 {
    width: 100%;
    padding: 17px 68px;
    justify-content: space-between;
  }

  @include vp-767 {
    padding: 30px 11px 11px 11px;
  }

  &_logo {
    margin-right: 24px;
    transition: $trans-default;

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover {
        opacity: 0.6;
      }
    }

    @include vp-1439 {
      margin-left: 13px;
    }
  }
}

.headerWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  border-bottom: 1px solid #e3e4e6;
  background: rgba(250, 250, 250, 0.2);
  backdrop-filter: blur(5px);
  // background: #ffffff;

  &_mobileMenuOpen {
    backdrop-filter: initial;
  }

  &_mobileMenuClose {
    transition: all 3.7s ease;
  }
}

.headerPadding {
  width: 100%;
  height: 124px;

  @include vp-1439 {
    height: 82px;
  }

  @include vp-767 {
    height: 105px;
  }
}
